@(lat: String, lon:String)

@main("Welcome to Play Framework") {
	<style>
      #map-canvas {
        height: 1000px;
        width: 1000px;
        max-width: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <!--<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?AIzaSyC7-9jC8PxxeiMdaSi_HGMwWEWLvtQZ5as&sensor=false">
    </script>-->
    <script type="text/javascript">
      function initialize() {
      var lat = @lat;
      var lon = @lon;
			var mapOptions = {
			zoom: 18,
			center: new google.maps.LatLng(lat, lon)
			};

			var map = new google.maps.Map(document.getElementById('map-canvas'),
			mapOptions);
			
			var marker = new google.maps.Marker({
			position: new google.maps.LatLng(lat, lon),
			map: map,
			draggable: false,
			animation: google.maps.Animation.DROP,
			title:"Hello World!"});
		}

		function loadScript() {
			var script = document.createElement('script');
			script.type = 'text/javascript';
			script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
				'callback=initialize';
				document.body.appendChild(script);
			}

		window.onload = loadScript;

    </script>
    
    
    <div id="map-canvas"/>

}