@(restaurants: Array[Restaurant])

@main("Unearth - Search Results") {
	<style>
      #map-canvas {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
      }
    </style>
    <!--<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?AIzaSyC7-9jC8PxxeiMdaSi_HGMwWEWLvtQZ5as&sensor=false">
    </script>-->
    <script type="text/javascript">
    var lat = 0;
    var lon = 0;
    var loaded = false;
    var mapArray = [];
    var key = "AIzaSyC7-9jC8PxxeiMdaSi_HGMwWEWLvtQZ5";
    
      function initialize() {
      		var ltln = new google.maps.LatLng(lat, lon);
      
			var mapOptions = {
			zoom: 18,
			center: ltln
			};

			var map = new google.maps.Map(document.getElementById('map-canvas'),
			mapOptions);
			
			mapArray[0]=map;
			
			var marker = new google.maps.Marker({
			position: ltln,
			map: map,
			draggable: false,
			animation: google.maps.Animation.DROP,
			title:"Hello World!"});
			
			mapArray[1]=marker;
			
			loaded=true;
		}

		function loadScript() {
			var script = document.createElement('script');
			script.type = 'text/javascript';
			script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
				'callback=initialize';
				document.body.appendChild(script);
			}
			
			function moveMap(t){
					console.log("click entered");
				if(!loaded){
					console.log("not loaded");
				} else {
						console.log("loaded");
						var h=$(t).attr("href");
						var hMapspace= h+".mapspace";
						console.log(h);
						
						//var mapCanvas = $("#map-canvas").detach();
						mapCanvas.appendTo(hMapspace);
						//$(h).find(".mapspace").append($("#map-canvas"));
						console.log("map has been moved to "+hMapspace);
						
						
						var latlng=h.replace("#","").replace(/m/g,"-").replace(/d/g,".").split("c");
						lat=latlng[0];
						lon=latlng[1];
						console.log(lat+","+lon);
						loadScript;
						
						var newMapCenter= new google.maps.LatLng(lat, lon);
						mapArray[0].setCenter(newMapCenter);
						mapArray[1].setPosition(newMapCenter);
						}
					}
					
			function createStaticMap(t){
						//console.log($(t).class());
						var h=$(t).attr("href");
						console.log(h);
						
						//if h.Mapspace doesn't have img as a child, create map
						console.log($(h).find(".mapspace").children().length);
						if($(h).find(".mapspace").children().length==0)
						{
						var latlng=h.replace("#","").replace(/m/g,"-").replace(/d/g,".").split("c");
						lat=latlng[0];
						lon=latlng[1];
						console.log(lat+","+lon);
						
						var mapCanvas = "<img src=\"" +buildUrl(lat,lon)+ "\" class=\"img-responsive\" width=100% />"; //new img tag
						console.log(mapCanvas);
						$(h).find(".mapspace").append(mapCanvas);
						console.log("map has been moved to "+h+".mapspace");
						}
			}
			
			function buildUrl(a,b){
					return ("http://maps.googleapis.com/maps/api/staticmap?center="+a+","+b+
					"&zoom=18&size=300x300&markers=color:green|label:V|"+a+","+b+
					/*"&key="+key+*/"&sensor=false");
			}

$(document).ready(function(){
		loaded=true; //window.onload = loadScript;
		
		//console.log("map loaded");
		
		$(".placeTitle").click(function(){createStaticMap(this)});
		
		});
    </script>
    
    
    <div id="map-holder" height="0px" width="0px">
    <div id="map-canvas"/>
    </div>
    
    <!--Dynamic-->
	<!--if/else any restaurants-->
	<div class="panel-group" id="accordion">
	<!--Default Map-->
	<!--For all items-->
	@for(r <- restaurants) {
	<!--Create additional nav-section-->
	<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="placeTitle" data-toggle="collapse" data-parent="#accordion" href="#@((r.getLat+"c"+r.getLon).replace("-","m").replace(".","d"))">
          @r.getName
        </a>
        <!--<div class="col-xs-1 col-xs-offset-11">@r.getRating</div>-->
      </h4>
    </div>
    <div id="@((r.getLat+"c"+r.getLon).replace("-","m").replace(".","d"))" class="panel-collapse collapse">
      <div class="panel-body">
	  <div class="col-xs-7 mapspace">
	  </div>
	  <div class="col-xs-5">
        @r.getName<br/>
        @for(a <- r.getAddress.split(",")){
        	@(a)<br/>}
        @r.getRating out of 5<br/>
	  </div>
      </div>
    </div>
  </div>	
	}
  <!--end for-->

}
